openapi: 3.0.1
info:
  title: Fleetbase Contacts Fleets API
  description: RESTful API for the Fleetbase open-source logistics and supply chain operating system. Manage orders, places, contacts, drivers, vehicles, fleets, zones, service rates, tracking, and webhooks. Available self-hosted (AGPL-3.0) or via managed Fleetbase Cloud.
  termsOfService: https://www.fleetbase.io/terms
  contact:
    name: Fleetbase Support
    email: hello@fleetbase.io
    url: https://docs.fleetbase.io
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  version: '1.0'
servers:
- url: https://api.fleetbase.io/v1
  description: Fleetbase Cloud / self-hosted REST API
security:
- bearerAuth: []
tags:
- name: Fleets
  description: Groupings of drivers and vehicles.
paths:
  /fleets:
    get:
      operationId: listFleets
      tags:
      - Fleets
      summary: List fleets
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: A list of fleets.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fleet'
    post:
      operationId: createFleet
      tags:
      - Fleets
      summary: Create a fleet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fleet'
      responses:
        '200':
          description: The created fleet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fleet'
  /fleets/{id}:
    get:
      operationId: getFleet
      tags:
      - Fleets
      summary: Retrieve a fleet
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: The requested fleet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fleet'
    put:
      operationId: updateFleet
      tags:
      - Fleets
      summary: Update a fleet
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fleet'
      responses:
        '200':
          description: The updated fleet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fleet'
    delete:
      operationId: deleteFleet
      tags:
      - Fleets
      summary: Delete a fleet
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Confirmation the fleet was deleted.
components:
  parameters:
    offset:
      name: offset
      in: query
      description: Number of records to skip for pagination.
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      description: Number of records to return (default 25, max 100).
      schema:
        type: integer
        default: 25
        maximum: 100
    id:
      name: id
      in: path
      required: true
      description: The unique public identifier of the resource.
      schema:
        type: string
  schemas:
    Fleet:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
        drivers:
          type: array
          items:
            type: string
        vehicles:
          type: array
          items:
            type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key passed as a Bearer token in the Authorization header. Test keys are prefixed flb_test_ and live keys flb_live_.
